upstream ui {
    server ui;
}

upstream api {
    server api;
}

server {
    listen 80;

    location / {
        proxy_pass http://ui;
    }

    location /api/ {
        rewrite /api/(.*) /$1 break;
        proxy_pass http://api;
    }

    location ~* \.(dec|zdec)$ {
        root /data;
    }

    location /redir/scrape {
        rewrite /redir/(.*) /$1 break;
        proxy_pass ${SCRAPE_HOST};
        proxy_set_header Host ${SCRAPE_HOST};
    }
}
