.session-configurer {
  background-color: aliceblue;
  padding: 1.5em;
  border-radius: 0.5em;
}

.config-table {
  td {
    padding: 0.2em 0.5em 0.2em 0;
  }

  tr {
    height: 2em;
  }

  input[type="number"],
  select {
    width: 5em;
    min-height: 1em;
    padding: 0.25em;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }
}
