.zip-view {
  background: white;
  outline: none;
  height: 100%;

  * {
    outline: none;
  }

  .lightbox-with-progress {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .lightbox {
    width: 100%;
    height: 100%;
    display: grid;

    img {
      display: block;
      margin: auto;
      max-width: 10%;
      max-height: 10%;
      transform: scale(10);
    }
  }

  .edit-mode {
    position: absolute;
    z-index: 1;
    background: black;
    padding: 5px;

    .counter {
      color: white;
    }
  }

  .thumbnails-view {
    img {
      opacity: 0.6;
      transform: scale(0.9);
    }

    .selected {
      transform: none;
    }

    .highlighted {
      opacity: 1;
    }
  }
}

.error {
  outline: none;
}