.expandable-date-range {
  @import "react-date-range/dist/styles";
  @import "react-date-range/dist/theme/default";
  font-size: small;

  .preview {
    .btn {
      font-size: small;
      padding: 1px 5px 1px 5px;
      margin: -3px 0 0 10px;
      height: 25px;
    }
  }

  .picker-container {
    position: absolute;
    margin-top: -10px;
    border: solid 1px gray;

    .btn {
      width: 100%;
    }
  }
}
