.file-summary {
  font-size: 1rem;

  .icon {
    float: left;

    &.orientation {
      display: none;

      &.vertical {
        display: block;
        background-image: url("/assets/phone.svg");
      }
    }
  }

  .filename {
    width: calc(100% - 175px);
    height: 22px;
  }
}

.blanket-view {
  .blanket-title {
    .file-summary {
      .tag {
        font-size: 1rem;
      }

      .icon {
        width: 28px;
        height: 28px;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 4px 0 0 4px;
      }

      .storageservice {
        &.gdrive {
          background-image: url("/assets/gdrive-lightweight.svg");
        }

        &.local {
          background-image: url("/assets/disk.svg");
        }
      }

      .filename {
        margin: 2px 0 0 5px;
        width: 70%;
        font-size: 1.2rem;
        height: 30px;
      }
    }
  }
}
