.index {
  font-size: small;
  margin-right: 0.5em;
  background-color: var(--chakra-colors-blue-500);
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 0.35em;
}

.filename {
  width: 100%;
}
