.reencode-config {
  input[type="number"] {
    border: 1px solid;
    width: 5em;
    min-height: 1em;
    padding: 0.25em;
  }

  .rotational-crop-button {
    margin-top: 0.5em;
  }

  .spaced {
    margin-left: 0.25em;
  }
}
