.blanket-portal {
  height: 100vh;

  .blanket-view {
    .blanket-header {
      padding: 10px 10px 10px 20px;

      .close {
        padding: 0;
        margin: 0 10px 0 0;
      }

      .blanket-title {
        width: 100%;
      }
    }
  }
}