.scrape-panel {
  .control-bar {
    margin-bottom: 10px;

    input[type="text"] {
      flex: 1;
      outline: none;
      border: 1px solid var(--chakra-colors-gray-700);
      border-radius: 0.35em;
      padding: 0.25em 0.4em;
    }

    .scrape-button {
      margin: 0 0.5em;
    }

    .add-group {
      select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .add-button {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .form-row {
      width: 100%;
      margin-bottom: 0.5em;
    }
  }

  .metadata {
    .tag {
      margin: 0 0 0 4px;
      border-radius: 3px;
      color: white;
      background-color: gainsboro;

      &.Available {
        background-color: rgba(0, 123, 255, 0.3);
      }

      &.Complete {
        background-color: rgba(50, 205, 50, 0.3);
      }

      &.Error {
        background-color: rgba(255, 0, 0, 0.3);
      }
    }
  }

  .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .scrape-grid {
    width: 100%;
    display: block;
  }
}