.scrape-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 15em;
  border-radius: var(--chakra-radii-md);
  border: 0.1em solid var(--chakra-colors-blackAlpha-300);

  &.error {
    background-color: rgba(255, 0, 0, 0.3);
  }

  &.complete {
    background-color: rgba(50, 205, 50, 0.3);
  }

  .scrape-button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 30px;
  }

  .thumbnail {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    &.error,
    &.complete {
      opacity: 0.5;
      transform: scale(0.9);
    }
  }
}
